@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

.body{
	margin: 0;
}

.wrapper{
  margin: auto;
  background: #3030C1;
}
.header{
	width: 83%;
	margin:auto;
}
.head{
			padding: 47px 49% 241px 6px;
	    background: top -1vw right 12px no-repeat url(img/headerImg.svg);
	    background-size: 39vw 38vw;
}
.logo{
	background: top 4vw left 5px no-repeat url(img/Logo.svg);
	    padding: 10vw 0px 18px 0px;
}
.head__title{

	font: 38px/46px 'girloybold', arial, helvetica, sans-serif;
	    line-height: 3.8vw;
	    color: #FFFFFF;
	    margin: 30px 0 36px 0px;
}
 .head__subtitle{
	 font: 800 27px/36px 'girloybold' , arial, helvetica, sans-serif;
	     /* line-height: 1vw; */
	     color: #FFCC33;
	     margin: 30px 37px 0 4px;
 }

.head__discription{
	font:  20px/23px 'gilroylight', arial, helvetica, sans-serif;
	    /* line-height: 1vw; */
	    color: #FFFFFF;
	    margin: 12px 103px 33px 0px;

}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.head__button:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
.head__button {
  display: inline-block;
  font: 900 22px/23px Montserrat, arial, helvetica, sans-serif;
  color: #3030C1;
  background: #FFCC33;;
  padding: 15px 20px;
  text-decoration: none;
}
.main__title1{
	font: 800 34px/49px 'Gilroy', arial, helvetica, sans-serif;
			text-align: center;
			margin: 54px 0 33px 0;
}

.main__title2{
	font: 800 34px/49px 'Gilroy', arial, helvetica, sans-serif;
	text-align: center;
 	margin: 51px 0 0;
}

.blok{
	display: flex;
    width: 81%;
    margin: auto;
}
.main__discription{
font: 300 30px/35px 'Gilroy', arial, helvetica, sans-serif;
			text-align: center;
    margin: 36px 0 54px;

}
.main__study{
	background: top 47px center url(img/studyimg.svg) no-repeat;
	padding: 160px 10px 0 10px;
	margin-right: 20px;

}
.main__work, .main__study, .main__money{
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
			width: 380px;
				position: relative;
}
.main__study_title{
	font: 800 27px/37px 'Gilroy', arial, helvetica, sans-serif;
	color: #3030C1;
	margin: 26px 36px 27px 36px;
	text-align: center;

}
.main__study_discription{
	font: 800 16px/25px 'Gilroy', arial, helvetica, sans-serif;
	    margin: 16px 44px 65px 41px;
	    text-align: center;
}

.main__work{
	background: top 51px center url(img/workimg.svg) no-repeat;
	padding: 166px 9px 23px 9px;
	font-size: 0.9em;
	margin-right: 20px;

}

.main__work_title{
	font: 800 26px/37px 'Gilroy', arial, helvetica, sans-serif;
	    color: #3030C1;
	    margin: 24px 4px 12px 4px;
	    text-align: center;
}

.main__work_discription{
	font: 800 17px/25px 'Gilroy', arial, helvetica, sans-serif;
	    margin: 0 50px 25px 42px;
	    text-align: center;

}

.main__money{
	background: top 47px center url(img/moneyimg.svg) no-repeat;
	margin-right: 0px;
	padding: 164px 10px 2px 12px;
	font-size: 0.9em;
}
.main__money_title{
	font: 800 25px/37px 'Gilroy', arial, helvetica, sans-serif;
	color: #3030C1;
	margin: 23px 30px -9px 30px;
	text-align: center;
}
.main__money_discription{
	font: 800 17px/25px 'Gilroy', arial, helvetica, sans-serif;
	margin: 35px 47px 33px;
	text-align: center;
}
.main__form_title{
	font: 800 33px/49px 'Gilroy', arial, helvetica, sans-serif;
	    text-align: center;
	    margin: 0 0 48px;
}
.main__form{
	padding: 74px 0;
	margin: 0 auto;
}
.main__form_name{
font: 300 20px/23px 'Gilroy', arial, helvetica, sans-serif;
display: flex;
    margin: 0 auto;
		margin-bottom: 14px;
		padding: 29px 0 28px 26px;
    width: 354px;
		border:none;
		color: #878787;
}

.main__form_email{
	font: 300 20px/23px 'Gilroy', arial, helvetica, sans-serif;
	display: flex;
	margin: 0 auto;
	margin-bottom: 74px;
	    padding: 28px 0px 28px 24px;
	    width: 355px;
border:none; /*убрали обводку */
	color: #878787;

}
.main__form_button:hover{
	  opacity: 0.6;
}
.main__form_button{
	display: flex;
	margin: 0 auto;
	  font: 900 22px/23px 'Montserrat', arial, helvetica, sans-serif;
		opacity: 1;

	  background:#FFDA45;
padding: 30px 20px 29px 20px;
	  text-decoration: none;
		border:none;
width: 380px;
text-align: center;
justify-content: center;
}
.ground{
	background: #F0FBFF;
}
.page__footer{
	background: #00008B;
	padding: 48px 128px;
}
.page__footer_title{
	margin: auto;
	font:  16px/18px roboto, arial, helvetica, sans-serif;
	color: #FFFFFF;
}








@media (max-width: 321px) {
	.main__money{
		margin-right: 0;
	    width: 239px;
	    margin-bottom: 20px;
	    background: top 42px center url(img/mobMimg.svg) no-repeat;
	    padding: 137px 10px 2px 12px;
	}

.blok{
	    display: block;
}
	.main__work{
		margin-right: 0;
	    width: 239px;
	    margin-bottom: 20px;
	    background: top 42px center url(img/mobWimg.svg) no-repeat;
	    padding: 143px 10px 24px;
	}
	.main__study{
		margin-right: 0;
	width: 239px;
	background: top 40px center url(img/mobSimg.svg) no-repeat;
	padding: 141px 10px 11px 10px;
	margin-bottom: 20px;
	}
	.head{
		padding: 0px 0 254px 2px;
	    background: top 76vw right 3px no-repeat url(img/mobHimg.svg);
	}
	.logo{
		background: top 12vw left 3px no-repeat url(img/moblogo.svg);
		padding: 10vw 0px 42px 0px;
	}
	.head__title{
		margin: 14px 17px 26px 1px;
font: 800 21px/31px 'Gilroy', arial, helvetica, sans-serif;
	}
	 .head__subtitle{
		 font: 800 17px/25px 'Gilroy', arial, helvetica, sans-serif;
 margin: 12px 0px 0 0px;
	 }

	.head__discription{
		font: 300 15px/17px 'Gilroy', arial, helvetica, sans-serif;
		    margin: 2px 29px 33px 0px;
	}



	.head__button {
		display: none;

	}

	.main__title1{
		font: 800 17px/25px 'Gilroy', arial, helvetica, sans-serif;
    margin: 55px 0 33px 0;
	}

	.main__title2{
		font: 800 17px/34px 'Gilroy', arial, helvetica, sans-serif;
	 }
	.main__discription{
	 font: 300 19px/21px 'Gilroy', arial, helvetica, sans-serif;
	 margin: 29px 30px 54px;
 	}
  .main__study_title{
		font: 800 17px/25px 'Gilroy', arial, helvetica, sans-serif;
	margin: 0px 27px 9px 26px;
	}

	.main__study_discription{
		font: 800 9px/12px 'Gilroy', arial, helvetica, sans-serif;
		    margin: 14px 49px 32px;
	}

	.main__work_title{
		font: 800 17px/25px 'Gilroy', arial, helvetica, sans-serif;
color: #3030C1;
margin: -2px 10px 5px;
	}

	.main__work_discription{
		font: 800 9px/12px 'Gilroy', arial, helvetica, sans-serif;
    margin: 0 58px 17px;
	}


	.main__money_title{
		    font: 800 17px/25px 'Gilroy', arial, helvetica, sans-serif;
		    color: #3030C1;
		    margin: 5px 26px 0;
		}

	.main__money_discription{
		font: 800 9px/12px 'Gilroy', arial, helvetica, sans-serif;
	margin: 15px 50px 40px 41px;
}
.main__form {
    padding: 44px 0;
}
	.main__form_title{
		font: 800 17px/25px 'Gilroy', arial, helvetica, sans-serif;
    margin: 0px 22px 26px;
	 }

	 .main__form_name{
		 font: 300 10px/12px 'Gilroy', arial, helvetica, sans-serif;
     width: 243px;
     padding: 18px 0 15px 17px;
     margin-bottom: -5px;
 }
	.main__form_email{
		font: 300 10px/12px 'Gilroy', arial, helvetica, sans-serif;
		    width: 243px;
		    padding: 18px 0px 15px 18px;
		    margin-bottom: 25px;
 }

 .main__form_button{
	 width: 259px;
     font: 900 10px/12px 'Montserrat', arial, helvetica, sans-serif;
     padding: 18px 0 16px;
     margin-bottom: -3px;
	 }

	 .page__footer{
		 display: none;
	 }
}
